
body{
    margin: 0;
    padding: 0;
    display: flex;
    background: #eee7ce;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 420px;
    height: 360px;
    border: darkslategrey solid 2px;
    background: skyblue;
    border-radius: 15px;
    margin: auto;
    margin-top: 15px;

}
.hidden{
    display: none;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    font-size: 18px;
    
}

form input:not([type="radio"]){
    min-width: 20rem;
    background: rgb(247, 221, 225);
    border: none;
    height: 32px;
    border-radius: 5px;
}

button {
    width: 10rem;
    height: 4rem;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: blue;
}

fieldset {
    margin-top: 30px;
    margin-left: 20px;
    border: none;
}

.right {
    display: grid;
    width: 100%;
    height: 100vh;
    background: #ffeead;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
}